* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
   
}

/* Estilos para el encabezado */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.contenido-cabecera {
    max-width: 1200px;
    justify-content: left;
}

.LogoImagen{
    display: flex;
    margin-left: 10px;
}

h1 {
    font-size: 1.5em;
}

#menuprincipal {
    width: 100%;
    height: 50px;
    padding: 0% 2%;
    background-color: #dddddd;
    border-top: 1px solid #094660;
    margin: 0%;
}

#menuprincipal > div {
    width: 100%;
}
    
    #listamenu {
        display: flex;
        margin-left: 10px;
    }
    
    #listamenu li {
        height: 35px;
        padding: 15px 10px 0px 10px;
        margin-right: 15px;
        list-style: none;
    }
    
    #listamenu a {
        font: bold 18px Arial, sans-serif;
        color: #333333;
        text-decoration: none;
    }
    
    #listamenu li:hover {
        background-color: #cacdcf;
    } /* Distribuye los elementos a lo largo del contenedor */

#menuprincipal li { /*Pone los enlaces en linea y cuando pasas sobre ellos, cambia el color de fondo*/
    display: inline-block;
    height: 48px;
    padding: 15px 10px 0px 10px;
    margin-right: 15px;
}
#menuprincipal li:hover {
    background-color: #cacdcf;
}
#menuprincipal a {
    font: bold 18px Arial, sans-serif;
    color: #333333;
    text-decoration: none;
}

/* Estilos para el contenido principal */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }
  .InformacionTexto{
    position: relative;
    background-color: #333333;
    width: 100%; 
  }
  .InformacionTexto h1{
    color: #fff;
    margin-left: 45%; 
  }
  .Informacion{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #fff;  
  }
  .Informacion p{
    padding: 10px;
  }
  .Instalaciontexto{
    position: relative;
    background-color: #333333;
    width: 100%;
  }

  .Instalaciontexto h1{
    color: #fff;
    margin-left: 45%;

  }
  .instalaciones{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #fff;
    
  }
  
  .secciones {
    width: 250px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .secciones h2 {
    margin-bottom: 10px;
  }
  
  .secciones img {
    width: 100%;
    height: 50%;
  }
  .contenedor-imagenes {
    display: flex; /* Mismo estilo de display */
    flex-wrap: wrap; /* Mismo estilo de flex-wrap */
    
  }
  .Ubicaciontexto{
    position: relative;
    background-color: #333333;
    width: 100%;
  }
  .Ubicaciontexto h1{
    color: #fff;
    margin-left: 45%;
  }
  .Ubicacion{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #fff; 
  }


/* Estilos para el pie de página */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.pielogo {
    display: flex;
    justify-content: space-between;
}

.seccionpie {
    flex: 1;
    margin-right: 20px;
}

.seccionpie h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.enlace-contacto {
    color: #fff;
    text-decoration: none;
}

.enlace-contacto:hover {
    text-decoration: underline;
}

.iconos-sociales {
    list-style: none;
    padding: 0;
    margin: 0;
}

.iconos-sociales li {
    display: inline-block;
    margin-right: 10px;
}

.iconos-sociales li a {
    color: #fff;
    text-decoration: none;
}

/* Estilos para la imagen del icono social */
.iconos-sociales li img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}