.TextoActividades h1 {
    width: 100%;

    text-align: center;
    color: #fff;
    font-size: 1.5em;

    background-color: #333333;
    border-radius: 10px;
}

.Viajes,
.Clases {
    display:flex;
    margin-top: 20px;

    justify-content: left;
    align-items: center;

    background-color: #333;
    width: 13%;
    height: 15%;
    border-radius: 10px;

    color: #fff;
    font-weight: bold;
}

.Viajes p,
.Clases p {
    display:flex;
    margin:0%;
    padding: 0 20px;
    font-size: 0.99em;
    text-align: left;
}

.ViajesMain,
.ClasesMain {
    display: flex;
    width: 70%;
    margin: 20px;
    padding: 20px;

    background-color: #f4f4f4;
    border-radius: 10px;
}

.ViajesMain th,
.ViajesMain td,
.ClasesMain th,
.ClasesMain td {
    display: flexbox;
    padding: 20px;
    text-align: left;
    max-width: 10%;
}

@media screen and (max-width: 1500px) {

    .TextoActividades h1 {
        font-size: 1.2em;
    }

    .Viajes,
    .Clases {
        max-width: 13%;
        max-height: 15%;
    }

    .Viajes p,
    .Clases p {
        font-size: 0.9em;
        padding: 0 10px;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .ViajesMain,
    .ClasesMain {
        width: 95%;
        margin: 5px auto;
        padding: 5px;
    }

    .ViajesMain th,
    .ViajesMain td,
    .ClasesMain th,
    .ClasesMain td {
        padding: 10px; 
        font-size: 0.9em;
    }
}

@media screen and (max-width: 500px) {

    .TextoActividades h1 {
        font-size: 1.2em;
    }

    .Viajes,
    .Clases {
        max-width: 13%;
        max-height: 15%;
        margin:auto;
    }

    .Viajes p,
    .Clases p {
        font-size: 0.9em;
        padding: 0 10px;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .ViajesMain,
    .ClasesMain {
        width: 95%;
        margin: 5px auto;
        padding: 5px;
    }

    .ViajesMain th,
    .ViajesMain td,
    .ClasesMain th,
    .ClasesMain td {
        padding: 10px; 
        font-size: 0.9em;
    }
}