/* Estilos para el contenido principal */
main {
    width: 100%;
    margin: 15px auto;
    padding: 20px;
    align-content: center;

    background-color: #fff;
}

.TextoActividades h1{
    width: 100%;


    text-align: center;
    color: #fff;
    font-size: 1.5em;

    background-color: #333333;
    border-radius: 10px;
}

.Viajes{
    position: relative;
    margin-top: 20px;
    justify-content: left;
    align-items: center;
    background-color: #333;
    width: 13%;
    height: 30px;
    border-radius: 10px;
    
}

.Viajes p{
    color: #fff;
    margin-left: 5%;
    font-weight: bold;  
}
.ViajesMain{
    position: relative;
    width: 70%;
    margin: 20px;
    padding: 20px;
    background-color:#f4f4f4;
    border-radius: 10px;
    border: #333;
}

.ViajesMain th,td{
    padding: 20px;
    margin-left: 10px;
    text-align: left;
}

.Clases{
    position: relative;
    margin-top: 20px;
    justify-content: left;
    align-items: center;
    background-color: #333;
    width: 13%;
    height: 30px;
    border-radius: 10px;
    
}

.Clases p{
    color: #fff;
    margin-left: 5%;
    font-weight: bold;  
}
.ClasesMain{
    position: relative;
    width: 70%;
    margin: 20px;
    padding: 20px;
    background-color:#f4f4f4;
    border-radius: 10px;
    border: #333;
}

.ClasesMain th,td{
    padding: 20px;
    margin-left: 10px;
    text-align: left;
}