/* Estilos para el contenido principal */
main {
  width: 100%;
  margin: 15px auto;
  padding: 20px;
  background-color: #fff;
  align-content: center;
}
  .InformacionTexto{
    position: relative;
    width: 100%; 
  }
  .InformacionTexto h1{
    color: #fff;
    width: 100%;
    text-align: center;
    background-color: #333333;
    border-radius: 10px;
  }
  .Informacion{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #fff;  
    padding-top: 15px;
  }
  .Informacion p{
    padding: 10px;
  }
  .Instalaciontexto{
    position: relative;
    width: 100%;
  }

  .Instalaciontexto h1{
    color: #fff;
    width: 100%;
    text-align: center;
    background-color: #333333;
    border-radius: 10px;
  }
  .instalaciones{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #fff;
    padding-top: 15px;
  }
  
  .secciones {
    width: 250px;
    height: 250px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .secciones h2 {
    margin-bottom: 10px;
  }
  
  .secciones img {
    max-width: 100%;
    max-height: 50%;
  }
  .contenedor-imagenes {
    display: flex; /* Mismo estilo de display */
    flex-wrap: wrap; /* Mismo estilo de flex-wrap */
  }
  .Ubicaciontexto{
    position: relative;
    width: 100%; 
  }

  .Ubicaciontexto h1{
    color: #fff;
    width: 100%;
    text-align: center;
    background-color: #333333;
    border-radius: 10px;
  }
  .Ubicacion{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #fff; 
  }

  .Ubicacion iframe {
    padding-top:15px;
    justify-content: center;
  }