* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    width: 100%;
}

/* Estilos para el encabezado */
header {
    background-color:#232936;
    color: #fff;
    padding: 20px;
}

.contenido-cabecera {
    max-width: 1200px;
    justify-content: left;
    height: 50px;
}

.LogoImagen{
    display: flex;
    margin-left: 10px;
    width: 286px;
    height: 70px;
    vertical-align:middle;
}

h1 {
    font-size: 1.5em;
}

#menuprincipal {
    width: 100%;
    height: 80px;
    padding: 0% 2%;
    background-color: #ffffff;
    border-top: 1px solid #094660;
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menuprincipal > div {
    width: 100%;
    height: 80px;
    vertical-align: middle;
    display: flex;
    justify-content: center; 
    align-items: center; 
}
    
    #listamenu {
        display: flex;
        margin-left: 10px;
        justify-content: center;
        list-style-type: none;
        padding: 0;
        height: 100%;
    }
    
    #listamenu li {
        padding: 15px 10px 0px 10px;
        list-style: none;
        align-items: center;
        height: 100%;
    }
    
    #listamenu a {
        font: bold 18px Arial, sans-serif;
        color: #333333;
        text-decoration: none;
        align-items: center;
        height: 80px;
    }

    #listamenu li:hover {
        background-color: #dbdbdb;
        transition: background-color 0.6s ease;
    }


#menuprincipal li { /*Pone los enlaces en linea y cuando pasas sobre ellos, cambia el color de fondo*/
    display: flex;
    height: 80px;
    padding: 15px 10px 0px 10px;
    align-items: center;
    margin-right: 20px;
}

#menuprincipal a {
    font: bold 18px Arial, sans-serif;
    color: #333333;
    text-decoration: none;
    align-content: center;
}

.iconosMenu {
    margin: 10px;
    align-items: center;
    width:35px;
    height:35px;
}

/* Estilos para el contenido principal */
main {
    width: 100%;
    background-color: #fff;
    align-content: center;
    margin: 15px auto;
}

.ImagenContendor{
    width: 100%; /* Ancho del contenedor */
    height: 10%; /* Alto del contenedor */
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    border: 1px solid #000; /* Borde para visualización */
    position: relative;
}

.ImagenPrincipal{
    width: 100%;
    max-width: 100%; 
    max-height: 100%;
    opacity: 0.60;
    text-decoration: none;
}

.texto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.botonFacebook {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 200px;
    height: 55px;
    border-radius: 30px;
    background-color: #eaeaeb;
}

.botonFacebook img {
    width:50px;
    height:50px;
}

.botonFacebook li {
    display: inline-block;
    margin-right: 10px;
}

.botonFacebook li a {
    color: #000000;
    text-decoration: none;
}

.botonFacebook a:hover {
    text-decoration: underline;
}

/* Estilos para el pie de página */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.pielogo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

footer p {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
  }

.seccionpie {
    flex: 1;
    margin-right: 20px;
}

.seccionpie h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.enlace-contacto {
    color: #fff;
    text-decoration: none;
}

.enlace-contacto:hover {
    text-decoration: underline;
}

.iconos-sociales {
    list-style: none;
    padding: 0;
    margin: 0;
}

.iconos-sociales li {
    display: inline-block;
    margin-right: 10px;
}

.iconos-sociales li a {
    color: #fff;
    text-decoration: none;
}

.iconos-sociales a:hover {
    text-decoration: underline;
}

/* Estilos para la imagen del icono social */
.Facebook {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.YouTube {
    width: 40px;
    height: 30px;
    vertical-align: middle;
}

.Instagram {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}
