.TextoActividades h1 {
    width: 100%;

    text-align: center;
    color: #fff;
    font-size: 1.5em;

    background-color: #333333;
    border-radius: 10px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.Viajes,
.Clases {
    display:flex;
    margin-top: 20px;

    justify-content: left;
    align-items: center;

    background-color: #333;
    width: 20%;
    height: 20%;
    border-radius: 10px;

    color: #fff;
    font-weight: bold;
}

.Viajes p,
.Clases p {
    display:flex;
    margin:0%;
    padding: 0 20px;
    font-size: 0.99em;
    text-align: left;
}

.ViajesMain,
.ClasesMain {
    display: flex;
    width: 95%;
    margin: 20px;
    padding: 20px;

    background-color: #f4f4f4;
    border-radius: 10px;
    border: solid black;
    overflow-x: auto;
}


.ViajesMain th,
.ViajesMain td,
.ClasesMain th,
.ClasesMain td {
    padding: 20px;
    text-align: left;
    width: auto;
}

.ViajesMain td:first-child,
.ViajesMain th:first-child,
.ClasesMain td:first-child,
.ClasesMain th:first-child {
    width: 250px; 
}


.ViajesMain td:nth-child(7),
.ViajesMain th:nth-child(7),
.ClasesMain td:nth-child(7),
.ClasesMain th:nth-child(7) {
    width: 180px; 
}

.ViajesMain td:nth-child(3),
.ViajesMain th:nth-child(3),
.ClasesMain td:nth-child(3),
.ClasesMain th:nth-child(3) {
    width: 155px; 
}



@media screen and (max-width: 1500px) {

    .TextoActividades h1 {
        font-size: 1.2em;
    }

    .Viajes,
    .Clases {
        max-width: 30%;
        max-height: 30%;
    }

    .Viajes p,
    .Clases p {
        font-size: 0.9em;
        padding: 0 10px;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .ViajesMain,
    .ClasesMain {
        width: 95%;
        margin: 5px auto;
        padding: 5px;
    }

    .ViajesMain th,
    .ViajesMain td,
    .ClasesMain th,
    .ClasesMain td {
        padding: 10px; 
        font-size: 0.9em;
    }
}

@media screen and (max-width: 1100px) {

    .TextoActividades h1 {
        font-size: 1em;
    }

    .Viajes,
    .Clases {
        width: 100%;
        height: auto;
        margin: 10px auto;
        justify-content: center;
    }

    .Viajes p,
    .Clases p {
        font-size: 0.8em;
        padding: 5px;
        text-align: center;
    }

    .ViajesMain,
    .ClasesMain {
        width: 100%;
        margin: 10px auto;
        padding: 10px;
    }

    .ViajesMain th,
    .ViajesMain td,
    .ClasesMain th,
    .ClasesMain td {
        padding: 5px;
        font-size: 0.8em;
    }

    .ViajesMain td:first-child,
    .ViajesMain th:first-child,
    .ClasesMain td:first-child,
    .ClasesMain th:first-child,
    .ViajesMain td:nth-child(7),
    .ViajesMain th:nth-child(7),
    .ClasesMain td:nth-child(7),
    .ClasesMain th:nth-child(7),
    .ViajesMain td:nth-child(3),
    .ViajesMain th:nth-child(3),
    .ClasesMain td:nth-child(3),
    .ClasesMain th:nth-child(3) {
        width: auto;
    }
}

@media screen and (max-width: 800px) {

    .TextoActividades h1 {
        font-size: 1em;
    }

    .Viajes,
    .Clases {
        width: 90%;
        height: auto;
        margin: 10px auto;
        justify-content: center;
    }

    .Viajes p,
    .Clases p {
        font-size: 0.8em;
        padding: 5px;
        text-align: center;
    }

    .ViajesMain,
    .ClasesMain {
        width: 100%;
        margin: 10px auto;
        padding: 10px;
    }

    .ViajesMain th,
    .ViajesMain td,
    .ClasesMain th,
    .ClasesMain td {
        padding: 5px;
        font-size: 0.8em;
    }

    .ViajesMain td:first-child,
    .ViajesMain th:first-child,
    .ClasesMain td:first-child,
    .ClasesMain th:first-child,
    .ViajesMain td:nth-child(7),
    .ViajesMain th:nth-child(7),
    .ClasesMain td:nth-child(7),
    .ClasesMain th:nth-child(7),
    .ViajesMain td:nth-child(3),
    .ViajesMain th:nth-child(3),
    .ClasesMain td:nth-child(3),
    .ClasesMain th:nth-child(3) {
        width: auto;
    }
}